.day-container{
    padding: 1.0rem;
}

.day-card {
   margin: 0;
   padding: 0;
   width: 100%;
}

.day-card:hover {
   background-color: #eee;
   cursor: pointer;
}

.day-title {
   font-size: 1.5rem;
   text-align:left;
   margin-left: 0.4rem;
}

.day-time {
   font-size: 1.5rem;
   font-weight: 700;
   margin-right: 0.3rem;
   text-align: right;
}
