.day-container{
    border: 1px solid red;
}

.day-card {

}

.day-card:hover {
   background-color: #eee;
}

.day-title {
   font-size: 1.5rem;
   text-align:left;
   margin-left: 0.4rem;
}

.day-time {
   font-size: 1.5rem;
   font-weight: 700;
   margin-right: 0.3rem;
   text-align: right;
}
