.day-container{
    padding: 1.0rem;
	 background-color: #f0f0f0;
	 height: 100%;
}

.day-card {
   margin: 0;
   padding: 12px 0 0 0;
   width: 100%;
}

.day-card hr {
	margin: 0;
	padding: 0;
}

.day-card:hover {
   background-color: #fff;
   cursor: pointer;
}

.day-title {
   font-size: 1.5rem;
   text-align:left;
   margin-left: 0.4rem;
}

.day-time {
   font-size: 1.5rem;
   font-weight: 700;
   margin-right: 0.3rem;
   text-align: right;
}

.day-mini-date {
	margin: 0 0 5px 1.0rem;
	text-align: left;
}
