.month-container{
    border: 1px solid blue;
}

.month-header {
   color: #776655;
   font-size: 2.0rem;
   text-align: center;
}

.days-of-week {
   margin: 0 1.2rem;
   font-weight: 200;
   font-size: 2.0rem;
   text-align: center;
   color: #776655;
}

.days-card {
   text-align: left;
   background-color: #ddeeff;
   border:0.5px solid #fff;
   padding: 30%;
   cursor: pointer;
}
.days-card:hover {
   color: #999;
}

.days-num {
   font-size: 2.5rem;
   font-weight: 200;
   text-align: center;
}

.day-current {
   background-color: #bbccdd
}

.day-selected {
   border: 0.5px solid #9040b0;
}
