.month-container{
    border: 1px solid blue;
}

.month-header {
   color: #776655;
   font-size: 2.0rem;
   text-align: center;
}

.days-of-week {
   margin: 0 1.2rem;
   font-weight: 200;
   font-size: 2.0rem;
   text-align: center;
   color: #776655;
}

.days-card {
   text-align: left;
   background-color: #ddeeff;
   border:0.5px solid #fff;
   padding: 30%;
   cursor: pointer;
}
.days-card:hover {
   color: #999;
}

.days-num {
   font-size: 2.5rem;
   font-weight: 200;
   text-align: center;
}

.day-current {
   background-color: #bbccdd
}

.day-selected {
   border: 0.5px solid #9040b0;
}

.button-round {
    display:inline-block;
    width:30px;
    height:30px;
    line-height:30px;
    border: 0;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #bbaf9f;
    font-size:1.2rem;
    font-weight:bold;
    margin-top: 0.4rem;
    cursor: pointer;
}
.button-round:hover {
    background: #262626;
}
